.classifiedContent{
    align-items: center;
}

.rules{
    display: flex;
    width: 90%;
    margin-top: 1%;
    gap: 1%;
    max-height: 100;
}

.rules--div{
    min-height: 30px;
}

.title{
    color:darkblue;
}

.rule-img{
    width: 100%;
    max-height: fit-content;
}

.rules--col1{
    width : 100%;
}

.rules--col2{
    width : 50%;
}

@media only screen and (max-width: 1000px){
    .rules{
        display: flex;
        flex-direction: column;
        width: 95%;
        margin-top: 1%;
    }

    .rules--col1{
        width : 100%;
    }
    
    .rules--col2{
        width : 100%;
    }
}

@media only screen and (max-width: 1000px) and (orientation: landscape) {
    .rules{
        display: flex;
        flex-direction: row;
        width: 95%;
        margin-top: 1%;
    }

    .rules--col1{
        width : 100%;
    }
    
    .rules--col2{
        width : 50%;
    }
}