.mobile-nav{
    display: none;
}


body{
    margin: 0;
    background-color:  #E2E2E2;
    height:100vh;
}

header{
    background-color:#e64626;
    height: 10%;
    display: flex;
    align-items: center;
}

header > h1{
    font-family: 'Roboto', 'sans-serif';
    color: white;
    font-size: 1.6rem;
    border: 1px dotted auto;
    padding: 10%;
}

.container{
    display: flex;
    width: 100%;
    height: 100%;
    justify-content: center;
    padding-top: 5%;
}

.navbar-col{
    margin-top: 2rem;
    display: flex;
    flex-direction: column;
    height: 67%;
}

.navitem{
    font-family: 'Roboto', 'sans-serif';
    font-size: 0.96rem;
    font-weight: 400;
    margin: 0;
    padding: 0.6rem 0.8rem;
    border-left: 10px solid #D9D9D9;
}

.questions-col{
    background-color: #FFFFFF;
    border-radius: 0.8rem;
    width: 67%;
    height: 67%;
    display: flex;
    flex-direction: column;
    align-items: center;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.sub-container{
    /*border: 1px dotted blue;*/
    height: 70%;
    width: 100%;
    display: flex; 
    border-bottom: 1px solid #E2E2E2;
    justify-content: center;
    padding-top: 3%;
}

.symptom-col{
    width: 40%;
    /*border:1px dotted red;*/
    
}

.input-col{
    width: 40%;
    /*border: 1px dotted red;*/
}

.symptom-item{
    border-bottom: 1px solid #E2E2E2;
    font-family: 'Roboto', 'sans-serif';
    font-size: 0.88rem;
    font-weight: 400;
    height: 10%;
    display: flex;
    align-items: center;
}



.input-item{
    border-bottom: 1px solid #E2E2E2;
    height: 10%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

select:hover{
    background-color: #8d8c8c;
}

.input-item > div {
    width: 50%;
    padding-left: 50%;
}

select {
    width: 100%;
    max-height: 120%;
    border-radius: 5px;
    border-width: 0;
    background-color: #D9D9D9;
    font-size: 0.88rem;
    font-family: 'Inter'
}




.greeting{
    height: 14%;
    width:100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: end;
    border-bottom: 1px solid #E2E2E2;
}

.greeting-section{
    width: 90%;
    border: 1px dotted blue;
}

.please{
    font-family: 'Roboto', 'sans-serif';
    font-size: 0.8em;
}

.sub-title{
    font-family: 'Roboto', 'sans-serif';
    font-size: 1.6em;
}

.back-next{
    /*border: 1px dotted blue;*/
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 15%;
    width: 80%;
}

.back{
    font-size: 1.2em;
    font-family: 'Inter';
    border-width: 0;
    height:30%;
    background-color: white;
    color: #e64626;
    /*border: 1px dotted black;*/
}

.back:hover{
    color: #f3c1b8;
}

.next{
    border-width: 0;
    background-color: #59A77D;
    border-radius: 4px;
    height:40%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.next > div{
    font-size: 1.2em;
    font-family: 'Inter';
    color: white;
}

.next:hover{
    background-color: #71ae8e;
}

@media only screen and (max-width: 1000px){
    .navitem{
        display:none;
    }
    .container{
        margin: 0;
        width:100%;
        padding-top: 0;
    }
    .questions-col{
        border-radius: 0;
        width: 100%;
        height: 80%;
    }

    header > h1{
        font-size: 1.2rem;
    }
    .greeting {
        font-size: 14px;
        justify-content: center;
    }

    .mobile-nav{
        height: 6%;
        width: 100%;
        display: flex;
        justify-content: space-between;
        background-color: #f3c1b8;
    }

    .progress-nav{
        font-family: 'Roboto', 'sans-serif';
        font-size: 0.88rem;
        margin-left: 10%;
        display: flex;
        align-items: center;
    }

    .progress-bar{
        width: 30%;
        margin-right: 10%;
        display: flex;
        align-items: center;
        justify-content: end;
    }

    .bar{
        background-color: #c3c2c2;
        width: 100%;
        max-width: 100px;
        height: 30%;
        border-radius: 10px;
        display: flex;
        justify-content: start;
    }

    .green-bar{
        background-color: green;
        height: 100%;
        border-top-left-radius: 10px;
        border-bottom-left-radius: 10px;
        width: 12.5%;
    }
}

@media only screen and (max-width: 1000px) and (orientation: landscape) {
    .questions-col{
        height: 180%;
    }

    .mobile-nav{
        height: 12%;
    }

    header{
        height: 20%;
    }

    .container{
        justify-content: center;
    }

    .back-next {
        font-size: 12px;
    }

    .input-item > div {
        width: 40%;
        padding-left: 60%;
    }
}
