

body{
    margin: 0;
    background-color: #E2E2E2;
    border: 1px solid black;
}

header{
    background-color: #7854A6;
    height: 8%;
    display: flex;
    justify-content: center;
    align-items: center;
}

header > h1{
    font-family: 'Poppins';
    font-weight: bold;
    color: #E6DFDF;
    font-size: 2rem;
    border: 1px dotted auto;
}

.container{
    margin: 4rem auto;
    display: flex;
    width: 67%;
    height: 67%
}

.navbar-col{
    margin-top: 2rem;
    display: flex;
    flex-direction: column;
    height: 67%;
}

.navitem{
    font-family: 'Poppins';
    font-size: 1.2rem;
    font-weight: 400;
    margin: 0;
    padding: 0.7rem 1rem;
}

.questions-col{
    background-color: #FFFFFF;
    border-radius: 0.8rem;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.sub-container{
    /*border: 1px dotted blue;*/
    height: 70%;
    width: 100%;
    display: flex; 
    border-bottom: 1px solid #E2E2E2;
    justify-content: center;
    padding-top: 3%;
}

.symptom-col{
    width: 40%;
    /*border:1px dotted red;*/
}

.input-col{
    width: 40%;
    /*border: 1px dotted red;*/
}

.symptom-item{
    border-bottom: 1px solid #E2E2E2;
    font-family: 'Inter';
    font-size: 1.1rem;
    font-weight: 400;
    height: 10%;
}

.symptom-item > div {
    padding: 1rem;
}


.input-item{
    border-bottom: 1px solid #E2E2E2;
    height: 10%;
}

.input-item > div {
    padding-left: 30%;
}

select {
    margin-top: 5%;
    width: 100%;
    height: 60%;
    border-radius: 5px;
    border-width: 0;
    background-color: #D9D9D9;
    font-size: 1rem;
    font-family: 'Inter'
}




.greeting{
    height: 14%;
    width:100%;
    display: flex;
    flex-direction: column;
    justify-content: end;
    align-items: start;
    border-bottom: 1px solid #E2E2E2;
    padding-bottom: 1%;
}
.please{
    margin: 0 10%;
    font-family: 'Poppins';
    font-size: 1rem;
    font-weight: 400;
}

.sub-title{
    margin: 0 10%;
    font-family: 'Inter';
    font-size: 2rem;
}

.back-next{
    /*border: 1px dotted blue;*/
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 15%;
    width: 80%
}

.back{
    font-size: 1.5rem;
    font-family: 'Inter';
    border-width: 0;
    height:30%;
    background-color: white;
    color: #7854A6;
    /*border: 1px dotted black;*/
}

.back:hover{
    color: #c7b0e6;
}

.next{
    font-size: 1.5rem;
    font-family: 'Inter';
    color: white;
    border-width: 0;
    background-color: #59A77D;
    border-radius: 4px;
    height:30%;
}

.next:hover{
    background-color: #71ae8e;
}

@media screen {
    
}